<table>
  <tr *ngFor="let itemArreglo of this.matrixNXN">
    <td *ngFor="let itemColumna of itemArreglo" (click)="this.tocoItem(itemColumna)">
      {{itemColumna.whoTouched}}
    </td>
  </tr>
</table>

<router-outlet></router-outlet>
